.main{
  margin-top: 70px;
  padding: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 6fr;
    height: 100vh;
    color: black;
    
    


}

.red{
    border-right: 2px solid black;
    padding-right: 10px;
    background-color: rgb(231, 231, 231);
    
    
}

.blue{
    border-right: 2px solid black;
    padding-right: 1px;
    padding-left: 5px;
    
    

}
  .black {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
  }
  
  .center-content {
    text-align: center;
    margin-top: 500px; /* Adjust the margin as needed */

  }
  
  .redo{
    background-color: rgb(202, 208, 206);
  }
  .form-field {
    margin-bottom: 1rem; /* Adjust spacing between form fields */
    border: 120px;
    background-color: transparent;
    width: 300px;
    height: 50px;
    position: relative;
}
.cancel-but{
  border-radius: 30px;
  position: relative;
  top: 50px;
  left: 330px;
  background-color: rgb(188, 194, 192);
}
.Next-but{
  border-radius: 30px;
  position: relative;
  top: 70px;
  left: 240px;
}
.medicine-card{
  background-color: rgb(5, 26, 20);
}
.card-content{
  background-color: rgb(204, 210, 210);

}
.card-cancel{
  border-radius: 30px;
  position: relative;
  top: 50px;
  left: 330px;


}
.card-next{
  border-radius: 30px;
  position: relative;
  top: 70px;
  left: 240px;

}
.card-content{
  cursor: pointer;
}
  .error-message{
    color: red;
  }
  .new-prescription {
    cursor: pointer;
  }
  
  .new-prescription-clicked {
    cursor: pointer;
    background-color: rgb(13, 141, 226); /* Change background color as desired */
  }
  
